/** Add css rules here for your application. */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 20px 30px;
	text-align: left;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.UserList {
	margin-left: 20px;
}

.UserListButton {
	padding-left: 3px;
	padding-bottom: 3px;
}

.headerLabel {
	font-weight: bold;
	font-size: 20px;
	font-family: Helvetica;
	padding-bottom: 2px;
}

.emailList {
	border: 1px solid gray;	
}

.dialogLabel {
	width: 8em;
}

.indentedCheckbox {
	padding-left: 8em;
}

.buttonPanel {
	float: right;
}