/** Add css rules here for your application. */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 20px 30px;
	text-align: left;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.Title {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 8px;
	background-color: #84CD9C;
	border-bottom: 3px solid #43A865;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 24px;
	font-family: Garamond;
	color: #5FBF7F;
}

.ButtonPanel {
	background-color: #84CD9C;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}

.UserList {
	margin-left: 20px;
}

.UserPanel {
	margin-left: 20px;
	background-color: #C6F2D4;
	border: 2px solid #43A865;
	padding: 4px;
}

.UserListButton {
	padding-left: 3px;
	padding-bottom: 3px;
}

.headerLabel {
	font-weight: bold;
	font-size: 20px;
	font-family: Garamond;
	padding-bottom: 2px;
}

.emailList {
	border: 1px solid gray;	
}

.dialogLabel {
	width: 8em;
}

.indentedCheckbox {
	padding-left: 8em;
}

.buttonPanel {
	float: right;
}